<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>My Toolbox</title>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comfortaa:wght@700&family=Exo+2&family=Montez&family=Saira+Condensed:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

  </head>
  <body class="">
    <div class="base">


    <header>
        <h1 class='title'>My Toolbox</h1>
    </header>

<a href="{{url_for('index')}}" class="home_btn">
  HOME
</a>

</div>
{% block content %}

{%endblock%}

</body>
</html>
