{% extends "base.html" %}

{% block content %}

<div class="index">

  <h3>Welcome to My Toolbox</h3>
    <form class="index_form" action="{{url_for('choice')}}">
      <p class="ques">What do you need today?</p>



      <select class="select" name="choose">
        {% for choice in choices %}
        <div class="options">
        <option value="{{choice}}" selected>{{choice}}</option>
        </div>
        {% endfor %}
      </select>



      <input type="submit" class="btn" name="choice" value="GO!">

    </form>
  </div>

  <footer>
    <p id="foot">
    Made by "The Id!ot"
    </p>
  </footer>

  {% endblock %}
