{% extends "base.html" %}

{% block content %}

<div class="form2">


<h3>Check Leap Year</h3>

<form class="aform" method="POST">
  {{leap_form.hidden_tag()}}
  <p class="label1">Enter Year:</p>
  {{leap_form.int_input(class="input")}}
  {{leap_form.check(class="btn")}}
</form>
<p class="show">
{% if show %}
{% if check %}
{{year}} is a leap year!
{% else %}
{{year}} is not a leap year!
{% endif %}
</p>
<a  class="btn" href="{{url_for('leap')}}">RESET</a>
{% else %}

{% endif %}

</div>

{% endblock %}
