{% extends "base.html" %}

{% block content %}
<div class="form2">

    <h3>Multiplication Tables</h3>
    <form  class="aform"method="POST">
      {{ multi_form.hidden_tag()}}
      <p class="label1">Get multiplication table of:</p>
        {{multi_form.int_input(class="input")}}
        {{multi_form.get(class="btn")}}
    </form>

    <p class="show">
      {% if m_num %}
      {% for i in range(1, 11)%}
      {{m_num}} x {{i}} = {{m_num * i}}<br>
      {% endfor %}
      </p>
      <a class="btn" href="{{url_for('multi_table')}}">RESET</a>
      {% else %}

      {% endif %}


  </div>
  {% endblock %}
